@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Racing+Sans+One&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow:hidden;
}
body{
    background-color:#7AD9FF;
    text-align:center;
    font-family: 'Poppins',sans-serif;
}
.top-heading{
    color:black;
    font-family:'Racing Sans One',cursive;
    font-size:1rem;
    margin-top:2rem;
}
.other-heading{
    font-size:1.2rem;
    line-height:2.7rem;
}
#search{
    border:none;
    outline:none;
    padding:18px;
    border-radius:50px;
    margin:70px 20px 0 20px;
}
::placeholder, input{
    color:#072AC8;
    vertical-align: middle;
    text-align:center;
    font-family:'Poppins',sans-serif;
    font-size:1.2rem;
}
input{
    text-transform: uppercase;
    
}
#search:focus{
    transform:scale(1.1);
    border:2px solid #072AC8;
    margin-bottom:10px;
}
#temp{
    margin-top:2rem;
    font-size:3rem;
}
#condition{
    font-size:1.5rem;
}
#temp, #condition{
    color:#013950;
}
#state{
    color:#072AC8;
    line-height:2.5rem;
    font-weight:bold;
    text-transform:uppercase;
}
@media screen and (max-width: 480px) {
    #search {
        width:230px;
    }
  }
